@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);


/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */


/* Header */

	#header {
		background-color: #fff;
		border-bottom: solid 1px rgba(144, 144, 144, 0.25);
		box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.05);
		color: #484848;
		cursor: default;
		font-size: 1.25em;
		height: 4.5em;
		left: 0;
		line-height: 4.4em;
		position: fixed;

		top: 0;
		width: 100%;
		z-index: 10000;
		z-index: 10001;
	}

		#header h1 {
			color: #484848;
			font-weight: 400;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}

		#header nav {
			background-color: #62708f;
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 1.25em;
			top: 0;
			vertical-align: middle;
		}

			#header nav ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}

				#header nav ul li {
					border-radius: 4px;
					display: inline-block;
					margin-left: 2.5em;
					padding-left: 0;
				}

					#header nav ul li a {
						-moz-transition: color 0.2s ease-in-out;
						-webkit-transition: color 0.2s ease-in-out;
						-ms-transition: color 0.2s ease-in-out;
						transition: color 0.2s ease-in-out;
						color: #666;
						display: inline-block;
						text-decoration: none;
						border-bottom-width:medium;
						border-bottom-color: #566587;
						border-bottom-style: solid;
						border-left-width:medium;
						border-left-color: #566587;
						border-left-style: solid;
						border-right-width:medium;
						border-right-color: #566587;
						border-right-style: solid;
						border-top-width: medium;
						border-top-color: #566587;
						border-top-style: solid;
						border-radius: 15px;
						padding-left:  5px;
						padding-right: 5px;

					}

						#header nav ul li a:hover {
							color: #484848;
						}

					#header nav ul li:first-child {
						margin-left: 0;
					}

					#header nav ul li .button {
						border-color: rgba(144, 144, 144, 0.25);
						box-shadow: none;
						height: 3em;
						line-height: 2.9em;
						margin-bottom: 0;
						padding: 0 1.5em;
						position: relative;
						top: -0.075em;
						vertical-align: middle;
					}

		#header .container {
			position: relative;
			background-color: #32566500;
		}

			#header .container h1 {
				left: 0;
			}

			#header .container nav {
				right: 0;
			}

		#header.alt {
			background-color: #32566500;
			border: 0;
			box-shadow: none;
			height: 3.25em;
			line-height: 3.25em;
			position: absolute;
		}

			#header.alt h1 {
				background-color: #32566500;
				color: #ffffff;
				left: 2.5em;
				top: 2em;
			}

				#header.alt h1 a {
					background-color: #32566500;
					color: #FFF;
				}

			#header.alt nav {
				background-color: #32566500;
				right: 2em;
				top: 2em;
			}

				#header.alt nav a {
					background-color: #32566500;
					color: #ddd;
				}

					#header.alt nav a:active, #header.alt nav a:hover {
						background-color: #32566500;
						color: #FFF;
					}

			#header.alt .button {
				border-color: rgba(255, 255, 255, 0.5);
				color: #ffffff !important;
			}

		@media screen and (max-width: 980px) {

			#header {
				display: none;
			}

		}

/* Menu */

	.navPanelToggle {
		background-color : #566587;
		text-decoration: none;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		display: none;
	}

		.navPanelToggle:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		@media screen and (max-width: 980px) {

			.navPanelToggle {
				display: block;
			}

		}

		.navPanelToggle *:before {
			background: transparent;
			border-radius: 4px;
			color: #fff;
			display: block;
			font-size: 16px;
			height: 2.25em;
			left: 0.5em;
			line-height: 2.25em;
			position: absolute;
			text-align: center;
			top: 0.5em;
			width: 3.5em;
		}

	#navPanel {
		-moz-transform: translateX(-20em);
		-webkit-transform: translateX(-20em);
		-ms-transform: translateX(-20em);
		transform: translateX(-20em);
		-moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		visibility: hidden;
		overflow-y: auto;
		position: fixed;
		left: 0;
		top: 0;
		background: transparent;
		color: #fff;
		height: 100%;
		max-width: 80%;
		width: 20em;
		padding: 0.5em 1.25em;

	}

		#navPanel ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

			#navPanel ul li {
				padding: 0;
			}

				#navPanel ul li:first-child a:not(.button), #navPanel ul li:first-child span:not(.button) {
					border-top: 0;
				}

				#navPanel ul li a:not(.button),
				#navPanel ul li span:not(.button) {
					border-top: solid 1px #555;
					color: #fff;
					display: block;
					padding: 0.75em 0;
					text-decoration: none;
				}

		#navPanel .button {
			width: 100%;
		}

		#navPanel .close {
			text-decoration: none;
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			-webkit-tap-highlight-color: transparent;
			border: 0;
			color: #484848;
			cursor: pointer;
			display: block;
			height: 4em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 5em;
		}

			#navPanel .close:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#navPanel .close:before {
				content: '\f00d';
				width: 3em;
				height: 3em;
				line-height: 3em;
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				text-align: center;
			}

			#navPanel .close:hover {
				color: inherit;
			}

			@media screen and (max-width: 736px) {

				#navPanel .close {
					height: 4em;
					line-height: 4em;
				}

			}

		#navPanel.visible {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
			visibility: visible;
		}

/* Banner */

	body.is-touch #banner {
		background-attachment: scroll;
	}

	#bannerklein {
		padding: 13em 0 13em 0;
		background-attachment: fixed;
		background-image: url("images/overlay.png"), url("../../images/Banner klein.png");
		background-position: center top;
		background-size: cover;
		line-height: 1.75;
		text-align: center;
	}

	#banner {
		padding: 16em 0 13em 0;
		background-attachment: fixed;
		background-image: url("images/overlay.png"), url("../../images/Banner.png");
		background-position: center top;
		background-size: cover;
		line-height: 1.75;
		text-align: center;
	}

		#banner:last-child {
			margin-bottom: 0;
		}

		#banner h2 {
			color: #ffffff;
			display: inline-block;
			font-size: 3.5em;
			line-height: 1.35;
			margin-bottom: 0.5em;
		}

		#banner p {
			color: #aaa;
			font-size: 1.5em;
			margin-bottom: 1.75em;
		}

		@media screen and (max-width: 1280px) {

			#banner {
				padding: 14em 0 11em 0;
			}

				#banner h2 {
					font-size: 2.5em;
				}

		}

		@media screen and (max-width: 980px) {

			#banner {
				padding: 9em 0 7em 0;
			}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 6em 2em 6em 2em;
			}

				#banner br {
					display: none;
				}

				#banner h2 {
					font-size: 2.25em;
				}

				#banner p {
					font-size: 1.25em;
				}

		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 4em 2em 4em 2em;
			}

		}

/* Main */

	#main {
		padding-top: 4em;
	}

		@media screen and (max-width: 736px) {

			#main {
				padding-top: 2em;
			}

		}

/* Footer */

	#footer {
		padding: 8em 0 6em 0;
		background: #323232;
		color: #aaa;
		text-align: center;
	}

		#footer a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			color: #aaa;
			text-decoration: none;
		}

			#footer a:active, #footer a:hover {
				color: #666;
			}

		#footer .icons {
			font-size: 1.5em;
		}

			#footer .icons li {
				padding-right: 2.5em;
			}

				#footer .icons li:last-child {
					padding-right: 0;
				}

		#footer .copyright {
			margin: 2em 0;
			padding: 0;
			text-align: center;
		}

			#footer .copyright li {
				border-left: solid 1px rgba(144, 144, 144, 0.25);
				display: inline-block;
				list-style: none;
				margin-left: 1.5em;
				padding-left: 1.5em;
			}

				#footer .copyright li:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

		@media screen and (max-width: 980px) {

			#footer {
				padding: 6em 0 4em 0;
			}

		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3em 0 2em 0;
			}

				#footer .icons {
					font-size: 1em;
				}

		}

		@media screen and (max-width: 480px) {

			#footer {
				padding: 3em 0 1em 0;
			}

				#footer .copyright li {
					border-left: 0;
					display: block;
					margin: 0;
					padding: 0;
				}

		}

		.docCategory{
			background-color: #494949;
			border-radius: 3px;
		}

















		#fcf-form {
		    display:block;
		}

		.fcf-body {
		    margin: 50px;
				margin-left: 120px;
				margin-right: 200px;
		    font-family: -apple-system, Arial, sans-serif;
		    font-size: 1rem;
		    font-weight: 400;
		    line-height: 1.5;
		    color: #212529;
		    text-align: left;
		    background-color: #fff;
		    padding: 30px;
		    padding-bottom: 10px;
		    border: 1px solid #ced4da;
		    border-radius: 0.25rem;
		    max-width: 100%;
		}

		.fcf-form-group {
		    margin-bottom: 1rem;
		}

		.fcf-input-group {
		    position: relative;
		    display: -ms-flexbox;
		    display: flex;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		    -ms-flex-align: stretch;
		    align-items: stretch;
		    width: 100%;
		}

		.fcf-form-control {
		    display: block;
		    width: 100%;
		    height: calc(1.5em + 0.75rem + 2px);
		    padding: 0.375rem 0.75rem;
		    font-size: 1rem;
		    font-weight: 400;
		    line-height: 1.5;
		    color: #495057;
		    background-color: #fff;
		    background-clip: padding-box;
		    border: 1px solid #ced4da;
		    outline: none;
		    border-radius: 0.25rem;
		    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		}

		.fcf-form-control:focus {
		    border: 1px solid #313131;
		}

		select.fcf-form-control[size], select.fcf-form-control[multiple] {
		    height: auto;
		}

		textarea.fcf-form-control {
		    font-family: -apple-system, Arial, sans-serif;
		    height: auto;
		}

		label.fcf-label {
		    display: inline-block;
		    margin-bottom: 0.5rem;
		}

		.fcf-credit {
		    padding-top: 10px;
		    font-size: 0.9rem;
		    color: #545b62;
		}

		.fcf-credit a {
		    color: #545b62;
		    text-decoration: underline;
		}

		.fcf-credit a:hover {
		    color: #0056b3;
		    text-decoration: underline;
		}

		.fcf-btn {
		    display: inline-block;
		    font-weight: 400;
		    color: #212529;
		    text-align: center;
		    vertical-align: middle;
		    cursor: pointer;
		    -webkit-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		    background-color: transparent;
		    border: 1px solid transparent;
		    padding: 0.375rem 0.75rem;
		    font-size: 1rem;
		    line-height: 1.5;
		    border-radius: 0.25rem;
		    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		}

		@media (prefers-reduced-motion: reduce) {
		    .fcf-btn {
		        transition: none;
		    }
		}

		.fcf-btn:hover {
		    color: #212529;
		    text-decoration: none;
		}

		.fcf-btn:focus, .fcf-btn.focus {
		    outline: 0;
		    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		}

		.fcf-btn-primary {
		    color: #fff;
		    background-color: #007bff;
		    border-color: #007bff;
		}

		.fcf-btn-primary:hover {
		    color: #fff;
		    background-color: #0069d9;
		    border-color: #0062cc;
		}

		.fcf-btn-primary:focus, .fcf-btn-primary.focus {
		    color: #fff;
		    background-color: #0069d9;
		    border-color: #0062cc;
		    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
		}

		.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
		    padding: 0.5rem 1rem;
		    font-size: 1.25rem;
		    line-height: 1.5;
		    border-radius: 0.3rem;
		}

		.fcf-btn-block {
		    display: block;
		    width: 100%;
		}

		.fcf-btn-block+.fcf-btn-block {
		    margin-top: 0.5rem;
		}
