#category{
    border-bottom: solid steelblue 5px;
    font-size: 30px;
    padding-top: 20px;
    
}


#member{
    font-size: 25px;
    border-bottom: 5px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-radius: 20px;
    color: rgb(0, 140, 255);
    border-style: solid;
}

#description{
    color: rgb(95, 183, 255);
    font-size: 15px;
    
}

#competence{
    font-size: 15px;
    margin-top: 40px;
}